@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter!</h1>
<p>@Html.ActionLink("See all animals", "Index", "Types")</p> // "see all animals = link", Index = target action in controller, types = will send you to Index in Types b/c of the third parameter?